body{
    background-color: orange;
}
.gameContainer{
    width: 80%;
    background-color: orangered;
    margin: auto;
    border: 3px solid olivedrab;
    border-radius: 50%;
    height: 40vh;
}
.conHead{
    text-align: center;
}
button{
    background-color: green;
    color: white;
    padding: 20px;
    margin-left: 550px;
    margin-top: 25px;
    border-radius: 50%;
}
button:hover{
    background-color: lightgreen;
    color: orangered
}
input{
    width: 200px;
    padding: 10px;
    border: 3px solid green;
    background-color: lightgreen;
    border-radius: 20px;
    display: inline-block;
}