body{
    background-color: bisque;
}
.container{
    width: 40%;
    margin: auto;
    background-color: aquamarine;
    border: 4px solid blueviolet;
    border-radius: 30px;
}
button{
    padding: 15px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    margin-left: 234px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-weight: bolder;
}
#display, #comfirm{
    text-align: center;
}
#comfirm{
    color: blue;
    font-weight: bold;
}